@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  background-color: #060708;
  overflow-y: auto;
  width: auto;
  scroll-behavior: smooth;

  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  color: #ffb800;
}

p {
  color: rgba(255, 255, 255, 0.79);
}
a {
  text-decoration: none;
}
.rounded {
  border-radius: 50%;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
}
